!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Hyper Local Trends
    %link(rel="stylesheet" href="../css/bootstrap.css")
    %link(rel="stylesheet" href="../css/bootstrap-responsive.css")
    %link(rel="stylesheet" href="../css/sticky.css")
    /[if lt IE 9]
      %script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
  %body
    =yield
